
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://dhrslrtdteinmjcsuydv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRocnNscnRkdGVpbm1qY3N1eWR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQyNTcyNDAsImV4cCI6MjA2OTgzMzI0MH0.LvO6hUTEAfkk9AY4aDz_Yh0hFHi8szl8poHNCQlzlrA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRocnNscnRkdGVpbm1qY3N1eWR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQyNTcyNDAsImV4cCI6MjA2OTgzMzI0MH0.LvO6hUTEAfkk9AY4aDz_Yh0hFHi8szl8poHNCQlzlrA

# Database URL (for Prisma)
DATABASE_URL=your_database_url_here

# MercadoPago Configuration
# MercadoPago Configuration - NUEVOS TOKENS DE PRUEBA
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=TEST-fb122f9e-692c-429c-af8d-90e99f8db226
MERCADOPAGO_ACCESS_TOKEN=TEST-41323532797722-080318-7cd0b1623a8cccb734d6711ae416715f-831028956
# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Admin Configuration
# Admin Configuration
ADMIN_EMAIL=admin@pasteleriamairim.com
ADMIN_PASSWORD=admin123